# Flutter / Dart generated
.dart_tool/
build/
**/.dart_tool/
**/build/
.packages
**/.packages
.flutter-plugins*
**/.flutter-plugins*

# IDEs and editors
.idea/
**/.idea/
*.iml
**/*.iml
.vscode/
**/.vscode/

# Android local and build cache
**/.gradle/
**/local.properties
**/captures/

# OS files
.DS_Store
Thumbs.db
